.navigation{
  height: 100%;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  & > ul{
    & > li{
      & > span{
        font-size: 1.5rem;
      }
    }

  }
  & > button{
    width: 100%;
  }
}